html, body {
    margin: 0;
    height: 100%;
    background-color: #000000;
}

p, h1, h2, h3 {
    user-select: none;
}

.network-settings-menu {
    height: 100%;
    width: 100%;
}

.network-interface-status-tile-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.network-interface-name-tile {
    width: 100%;
    background-color: #1a1a1a;
    padding-top: 4px;
    padding-bottom: 8px;
    color: #ffffff;
}

.network-interface-ip-address-tile {
    width: 100%;
    background-color: #1a1a1a;
    padding-top: 4px;
    padding-bottom: 8px;
    color: #ffffff;
}

.network-interface-tile-label {
    font-family: Segoe UI,Cantarell;
    font-weight: 100;
    font-size: x-small;
    text-align: center;
    cursor: default;
}

.network-interface-tile-content {
    font-family: Segoe UI,Cantarell;
    font-weight: 300;
    font-size: medium;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 6px;
}

.network-settings-loading-message {
    width: 100%;
    font-family: Segoe UI,Cantarell;
    font-weight: 200;
    font-size: medium;
    text-align: center;
    color: #ffffff;
    background-color: #1a1a1a;
    padding-top: 4px;
    padding-bottom: 8px;
}

.info-display {
    font-family: Segoe UI,Cantarell;
    font-weight: 300;
    font-size: medium;
    text-align: center;
    color: #ffffff;
}

.network-ssid-label {
    font-family: Segoe UI,Cantarell;
    font-weight: 300;
    font-size: medium;
    text-align: left;
    margin-left: 4px;
    color: #ffffff;
    cursor: default;
}

.saved-networks-container {
    width: 100%;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    flex-direction: column;
}

.network-security-label {
    font-family: Segoe UI,Cantarell;
    font-weight: 200;
    font-size: small;
    text-align: left;
    color: #cccccc;
    cursor: default;
}

.network-list-item {
    width: 100%;
    background-color: inherit;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    text-decoration: none;
}

.network-list-item:hover {
    background-color: #1a1a1a;
}

.saved-networks-list-label {
    font-family: Segoe UI,Cantarell;
    font-weight: 300;
    font-size: large;
    color: #ffffff;
    text-align: center;
    cursor: default;
}

.saved-networks-list {
    width: 100%;
    background-color: #000000;
    display: block;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.saved-network-forget-button {
    font-family: Segoe UI,Cantarell;
    font-weight: 300;
    font-size: medium;
    color: #ffffff;
    background-color: #333333;
    border: 1px;
    margin-top: 16px;
    margin-right: 10%;
    margin-bottom: 16px;
    height: 32px;
    width: 40%;
}

.saved-network-forget-button:focus {
    color: #ffffff;
    background-color: #333333;
    outline: none !important;
}

.saved-network-forget-button.noselect {
    user-select: none;
}

.saved-network-forget-button:hover {
    background-color: #262626;
}

.saved-network-options-dialog {
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
}

.saved-network-forget-all-button {
    font-family: Segoe UI,Cantarell;
    font-weight: 300;
    font-size: medium;
    color: #ffffff;
    background-color: #333333;
    border: 1px;
    float: left;
    margin-top: 32px;
    margin-left: 4px;
    height: 32px;
    width: 30%;
}

.saved-network-forget-all-button:focus {
    color: #ffffff;
    background-color: #333333;
    outline: none !important;
}

.saved-network-forget-all-button.noselect {
    user-select: none;
}

.saved-network-forget-all-button:hover {
    background-color: #262626;
}
